html {
  --color-light-: #fff6e8;
  --color-medium-: #f4e6d3;
  --color-dark-: #545455;
  --color-darker-: #272727;
  --color-main-: #798e73;
  --color-main-highlight-: #96b18b;
}

body {
  background-color: var(--color-light-);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: var(--color-darker-);
}

h2 {
  color: var(--color-darker-);
}

form {
  max-width: 40rem;
  background-color: var(--color-medium-);
  margin: 2rem auto;
  border-radius: 6px;
  padding: 1rem;
  box-shadow: rgb(48, 48, 48) 0px 0px 10px 3px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font: inherit;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  border: 2px solid var(--color-dark-);
}

input:focus,
textarea:focus {
    background-color: var(--color-light-);
}

textarea {
  resize: none;
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
}

#button {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2rem;
}

button {
  padding: 0.3rem 1rem;
  font: inherit;
  border-radius: 4px;
  border: 2px solid var(--color-dark-);
}

#clear {
  color: var(--color-darker-);
}

#clear:hover {
  background-color: white;
}

#submit {
  background-color: var(--color-main-);
  color: white;
}

#submit:hover {
  background-color: var(--color-main-highlight-);
}
